/* area */
*{
    margin: 0px;
    padding: 0px auto;
}
.offer-section{
    max-width: 1140px;
    margin: 0px auto;
}
/* font */
.open-sans-first {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
.red{
    color: #FF0000;
}
.white{
    color: #FFFFFF;
}
.dark1{
    color: #252527;
}
.black{
    color: #070211;
}
.second-bg{
    background-color: #e3afaf;
}
.description{
    font-size: 20px;
    font-weight: 400px;
    color: #252527;
}
/* header styles */
.header-title{
    text-align: center;
    padding: 177px 344px;
    
}
.header-title1{
    font-size: 32px;
    font-weight: 400px;  
}
.header-title2{
    font-size: 72px;
    font-weight: 900px;
}
/* background */

.background{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    max-width: 1320px;
    margin: 50px auto;
    border-radius: 16px;  
}
/* offer section */
.offer{
    text-align: center;
}
.offer-title{
    font-size: 88px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 40px;
}
.offer-des{
    font-size: 24px;
    font-weight: 500px;
    padding-bottom: 16px;
}
.offer-title2{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 48px;
}
.new-year-photo{
    margin-left: 200px;
    margin-bottom: 120px;
}
/* welcome section */
.wecome{
    max-width: 1320px;
    margin: 0px auto;
}
.container{
    display: flex;
    justify-content: space-around;
}
.content{
    text-align: left;
    padding-left: 120px;
    padding-top: 140px;
}
.welcome-title{
    font-size: 64px;
    font-weight: 900px;
    padding-bottom: 24px;
}
.welcome-des{
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 32px;
}
.content a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; 
    padding-bottom: 128px;
}
/* welcome section background */
.container{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320;
    height: 600;
    border-radius: 16px;
    
}
.wcl-img{
    padding-right: 70px;
    padding-top: 82px;
    padding-bottom: 53px;
    margin-bottom: 120px;
}
/* time section */
.time-section{
    
    max-width: 1320px;
    margin: 0px auto;
    text-align: center;
}
.time-content{
    text-align: center;
    font-size: 32px;
    font-weight: 500px;
    padding: 130px 330px 40px 330px; 
    
}
.time-section button{
    
    padding:16px 32px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: #FF0000;
    margin-bottom: 110px;
}
/* coming soon section style*/
.coming-container{
    display: flex;
   max-width: 1320px;
   margin: 120px auto;
   gap: 70px;
   align-items: center;
}
.coming2 img{
    
    border: 10px solid #FF0000;
    padding: 49px;
    border-radius: 400px;
}
/* mystery box section */
.box-section{
    max-width: 1320px;
    margin: 140px auto;
}
.box-content{
    text-align: center;
    margin: 0px 270px;
    margin-bottom: 60px;
}
.box-question{
    font-size: 24px;
    font-weight: 500px;
    color: #070211;
}
.box-title{
    font-size: 72px;
    font-weight: 900px;
}
.box-img-container{
    display: flex;
    justify-content: space-around;

}
.box-bg{
    
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 116px;    
}
/* product section style */
.product-section{
    max-width: 1320px;
    margin: 0px auto;
}
.protuct-section-into{
    font-size: 24px;
    font-weight: 500px;
    padding-bottom: 16px;
}
.product-section-title{
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 22px;
}
.product-img{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 128px;

}
.product-img img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 2px 5px rgb(142, 141, 148), -2px -2px 5px rgb(164, 136, 136);
}
/* subscribe section */
.subscribe-background{
    max-width: 1320px;
    margin: 0px auto;
}
.subscribe{ 
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 80px 212px;
    margin-bottom: 120px;
}
.message{
    width: 150px;
    height: 150px;
    padding-bottom: 40px;
}
.subscribe-title{
    font-size: 48px;
    font-weight: 900px;
    padding: 22px;
}

.subscribe input[type="search"]{
    padding: 25px 340px 25px 30px;
    font-size: 18px;
    font-weight: 400px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 80px 0px 0px 80px;
    margin-top: 48px;
}
.subscribe label{
    background-color: #FF0000;
    padding: 23px 56px;
    margin: 0px;
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    border: none;
    border-radius: 0px 80px 80px 0px;
}
/* footer */

.footer{
    max-width: 1600px;
    margin: 0px auto;
    background-color: #070211;
}
.address{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding:100px 275px 50px 140px;
}
.hr{
    color: rgba(25, 20, 20, 0.856);
    margin-left: 130px;
    margin-right: 275px;
    
}
.icon{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
}
.last-footer{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px 285px 120px 130px;
}
.footer-info{
    font-size: 24px;
    font-weight: 500px;
    color: #FFFFFF;
}